<footer class="p-3 text-bg-dark fixed-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div>
          <a href="#">
            <img
            style="height: 30px; width: 30px"
            src="assets/k-globe-seeklogo.com.svg"
          />
          </a>
          <span>      2022 Company, Inc</span>
        </div>
        
        <div style="margin-left: auto;">
          <a href="https://github.com/kaveenb" target="_blank" rel="noopener noreferrer">
            <img
            style="height: 30px; width: 30px"
            src="assets/github-colored-seeklogo.com.svg" alt="logo"
          />
          </a>
         <a href="https://www.linkedin.com/in/kaveenb/" target="_blank" rel="noopener noreferrer">
          <img
          style="height: 30px; width: 30px"
          src="assets/linkedvector-seeklogo.com.svg" alt="logo"
          />
         </a>
        </div>
        
      </div>
    </div>
  </footer>