<app-navbar></app-navbar>
<div class="p-3 container">
    <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="col-sm-4">
        <img
        style="height: 70%; width: 70%" class="rounded-circle"
        src="assets/profile.jpg"
      />
      </div>
      <div class="col-sm-8 text-bg-dark rounded">
        <h2>About Developer</h2><br>
        <h4> 
            Curretly working as a softarware developer. Have good knowledge in developing webservice using Asp.Net and Java spring boot.
            For developing client, I use Angular. Do check my GitHub profile for source code.
        </h4><br>
        <p><strong>SKILLS:</strong> C# | TypeScript | Angular | HTML | CSS | Javasript | UI | Graphic Design | Web Design | SQL | JavaSpring boot |</p>
        <p><strong>TOOLS:</strong> Visual Studio | Visual Studio Code | Adobe XD | Photoshop | Illustrator |</p>
        <h2>Happy coding!</h2><br>
      </div>
    </div>
  </div>