<!-- Toolbar -->
<div style="height: 800px;"  [ngStyle]="{'background' : 'url(./assets/background.jpg)'}">

<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <img
        style="height: 3%; width: 3%"
        src="assets/k-globe-seeklogo.com.svg"
      />

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="#" class="nav-link px-2 text-warning">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a routerLink="/about" class="nav-link px-2 text-white" routerLinkActive="active">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>

<!--Available Product-->
<!-- <div class="container mt-4" >
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <h2 class="px-2 text-white">Available Products!</h2>
    <div style="overflow-y: scroll; height: 250px;">
      <table class="table text-white">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of product">
            <td scope="row">{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.unit_price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="nav col-12 me-lg-auto mb-2 mt-2 text-end">
      <button
        type="button"
        class="btn btn-warning"
        style="margin: 5px"
        (click)="openModal()"
      >
        Add Product
      </button>
      <button type="button" class="btn btn-warning" 
      style="margin: 5px"
      (click)="DeleteClick()"
      >
        Delete Product
      </button>
      <button type="button" class="btn btn-warning" 
      style="margin: 5px"
      (click)="UpdateClick()"
      >
        Update Product
      </button>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
</div>
<div class="container text-bg-dark p-4 rounded fixed-bottom">
  <footer class="d-flex flex-wrap justify-content-between align-items-center border-top text-white">
    <div class="d-flex align-items-center">
      <img
      style="height: 3%; width: 3%"
      src="assets/k-globe-seeklogo.com.svg"
    />
      <span class="mb-3 mb-md-0 text-muted" style="margin-left: 1%;">2022 Company, Inc</span>
    </div>

    <ul class="nav justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#">
        </a></li>
      <li class="ms-3">
        <img
        style="height: 3%; width: 3%"
        src="assets/linkedvector-seeklogo.com.svg"
      />
      </li>
    </ul>
  </footer>
</div>

<!--Add/Delete Modal-->

<div
  [ngStyle]="{ 'display': display }"
  class="modal" tabindex="-1" role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalLable}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCloseHandled()"
        ></button>
      </div>

      <div class="modal-body">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (ngSubmit)="SaveChages()">
          <div class="hstack gap-3">
            <h6 class="modal-title w-25" id="exampleModalLabel">Id:</h6>
            <input
            name="id"
            [(ngModel)]="Addproduct.id"
              type="search"
              class="form-control form-control-dark text-bg-dark"
              placeholder="Id..."
              aria-label="Search"
            />
          </div>
          <div *ngIf="!IsDeleteClicked" class="hstack gap-3">
            <h6 class="modal-title w-25" id="exampleModalLabel">Name:</h6>
            <input
            name="name"
            [(ngModel)]="Addproduct.name"
              type="search"
              class="form-control form-control-dark text-bg-dark"
              placeholder="Name..."
              aria-label="Search"
            />
          </div>
          <div class="hstack gap-3" *ngIf="!IsDeleteClicked">
            <h6 class="modal-title w-25" id="exampleModalLabel">Description:</h6>
            <input
            name="description"
            [(ngModel)]="Addproduct.description"
              type="search"
              class="form-control form-control-dark text-bg-dark"
              placeholder="description..."
              aria-label="Search"
            />
          </div>
          <div class="hstack gap-3" *ngIf="!IsDeleteClicked">
            <h6 class="modal-title w-25" id="exampleModalLabel">Price:</h6>
            <input
            name="unit_price"
            [(ngModel)]="Addproduct.unit_price"
              type="search"
              class="form-control form-control-dark text-bg-dark"
              placeholder="Price..."
              aria-label="Search"
            />
          </div>
          <div class="hstack gap-3" *ngIf="!IsDeleteClicked">
            <h6 class="modal-title w-25" id="exampleModalLabel">Stocks Available:</h6>
            <input
            name="units_in_stock"
            [(ngModel)]="Addproduct.units_in_stock"
              type="search"
              class="form-control form-control-dark text-bg-dark"
              placeholder="Stocks Available..."
              aria-label="Search"
            />
          </div>
          
          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="onCloseHandled()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-warning"
             
            >
              Save changes
            </button>
          </div>
        </form>
      </div>

      
    </div>
  </div>
</div>

<!--Info Modal-->

<div
  [ngStyle]="{ 'display': info }"
  class="modal" tabindex="-1" role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info!</h5>
      </div>

      <div class="modal-body">   
            <h6 class="modal-title" id="exampleModalLabel">{{InfoLable}}</h6>  
          </div>         
          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="onCloseInfoHandled()"
            >
              Close
            </button>
      </div>     
    </div>
  </div>
</div>



