<!-- Toolbar -->
<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <img
        style="height: 3%; width: 3%"
        src="assets/aldi-sud-seeklogo.com.svg"
      />

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="#" class="nav-link px-2 text-warning">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>

<!--Available Product-->
<div class="container mt-4">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <h2 class="px-2 text-white">Available Products!</h2>
    <table class="table text-white">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of product">
          <td scope="row">{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.unit_price }}</td>
        </tr>
      </tbody>
    </table>
    <div class="nav col-12 me-lg-auto mb-2 text-end">
      <button
        type="button"
        class="btn btn-warning"
        style="margin: 5px"
        (click)="openModal()"
      >
        Add Product
      </button>
      <button type="button" class="btn btn-warning" style="margin: 5px">
        Delete Product
      </button>
    </div>
  </div>
</div>

<!--Modal-->

<div
  [ngStyle]="{ 'display': display }"
  class="modal" tabindex="-1" role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCloseHandled()"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCloseHandled()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="onCloseHandled()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
